<!DOCTYPE html>
<html xmlns:th="http://www.thmleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-wdith, initial-scale=1.0">
    <title>添加/编辑博物馆信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{js/jquery-slim.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <h5>编辑博物馆信息</h5>
    </div>
    <div  class="form-row" th:if="${ok}">
        <h5 class="alert alert-success" th:text="${ok}"></h5>
    </div>
    <form class="form-row" th:action="@{/savecontent}" th:object="${content}" method="POST">
        <div class="row" th:if="${#fields}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th_text="保存失败">
                <span th:each="err : ${#fields.errors('*')}" th:text="${err}+'&nbsp;'"></span>
            </p>
        </div>
        <div class="col form-group">
            <input type="hidden" th:field="*{cid}">
            <label for="title">博物馆名称</label>
            <!--<input th:if="*{uid!=null&&uid>0}" hidden="hidden" th:field="*{password}">如果不想添加这个表单域，就把实体密码的注解NotNull去掉-->
            <input class="form-control" th:field="*{title}" required placeholder="请输入博物馆名称">
        </div>
        <div class="col form-group">
            <label for="timg">博物馆图片</label>
            <input  type="file" class="form-control" th:field="*{timg}" required placeholder="请输入博物馆图片">

        </div>
        <div class="col form-group">
            <label for="contenttype">类别</label>
            <select th:field="*{type.tid}">
                <option value=""></option>
            </select>
        </div>
        <div class="col form-group">
            <label for="contents">博物馆信息</label>
            <textarea th:field="*{contents}"></textarea>
        </div>
        <div class="col form-group">
            <button type="submit" class="btn-primary">保存</button>
        </div>
    </form>
</div>
</body>
</html>